@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Programmers' Week</h1>
    <p>SignalR with .NET Core</p>
</div>


<div class="row">
    <canvas id="myCanvas" width="600" height="400"></canvas>
    <div class="col-md-1">

<div class="well well-sm text-center">
        <div class="btn-group btn-group-toggle btn-group-vertical" id="btnGroup" data-toggle="buttons">
			
			<label onClick="updateTool('draw')" class="btn btn-success active">
				<input type="radio" name="colorOptions" id="green" autocomplete="off" checked>
			</label>

			<label onClick="updateTool('draw')" class="btn btn-primary">
				<input type="radio" name="colorOptions" id="blue" autocomplete="off">
			</label>

			<label onClick="updateTool('draw')" class="btn btn-info">
				<input type="radio" name="colorOptions" id="lightblue" autocomplete="off">
			</label>

			<label onClick="updateTool('draw')" class="btn btn-warning">
				<input type="radio" name="colorOptions" id="yellow" autocomplete="off">
			</label>

			<label onClick="updateTool('draw')" class="btn btn-danger">
				<input type="radio" name="colorOptions" id="red" autocomplete="off">
			</label>
		
		</div>
        </div>
        <br>
        <div class="text-center">
            Line width
            <div class="col">
                <select style="max-width: 100px; display: inline;" class="form-control" id="width">
                    <option value="1">1</option>
                    <option value="3" selected="selected">3</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                    <option value="9">9</option>
                    <option value="11">11</option>
                </select>
            </div>

            <br>
            <button class="btn btn-primary" onclick="updateTool('erase')">Erase</button>
        </div>
        <br>
    </div>
    <div class="col-lg-5 col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading top-bar">
                            <div class="col-md-8 col-xs-8">
                                <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span> Contacts</h3>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <tbody id="userList"></tbody>
                        </table>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="chatbody">
                        <div class="panel panel-primary">
                            <div class="panel-heading top-bar">
                                <div class="col-md-8 col-xs-8">
                                    <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span>Chat</h3>
                                </div>
                            </div>
                            <div id="messagesList" class="panel-body msg_container_base">
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="messageInput" type="text" class="form-control input-sm chat_input"
                                           placeholder="Write your message here..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-sm" id="sendButton"></i>Send</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
